@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}
p,li{
    font-size: 1.3rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.07em;
}
h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.07em;
    font-weight: 500;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.lg-heading{
    font-size: 3rem;
}
.md-heading{
    font-size: 3rem;
}
.text-red{
    color:#e63946;
}
.text-light{
    color:#f4f4f4;
}
.text-black{
    color:#333333;
}
.text-gray{
    color: #555;;
}
.navbar a:link,
.navbar a:visited{
    color:#f4f4f4;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: white;
    border-radius: 100px;
}
.btn-secondary{
    border: 2px solid red;
    border-radius: 1.5em;
    color: red;
    background-color: white;
}
.btn-secondary:hover, .btn-primary:hover{
    background-color: rgb(249, 238, 238);
}

.bg-dark{
    background-color: #263238;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 0 auto;
    /* justify-content: center;
    align-items: center;  */
}

.header{
    height: 98.5vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar{
    padding: 1rem;
}

.header .logo,
 .navbar a{
    color: white;
}
.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid white;
}
.navbar .logo{
    float:left;
    font-size:3.5rem ;
    color: #f4f4f4;
}
 .navbar .nav-items{
    margin-top: 2rem;
}
 .navbar .nav-item{
    float:right;
    /* display: inline-block; */
    padding: 1rem;
    text-transform: uppercase;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}
.header-content h3{
    text-transform: uppercase;
    font-weight: 500;
    font-size: medium;
    letter-spacing: 0.2px;
}
.header-content p{
    text-transform: uppercase;
    font-size: small;
}

.header-content{
   background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 30%;
    text-transform: (-50%,-50%);
}

/* ------------------showcase section styling */
.showcase{
    background: #ddd;
    padding: 10rem;
}

.row{
    height: 300px;
    width: 1000px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.315);
    transition: 0.4s ease;
}

.row:hover{
    transform: scale(1.1);
    transition: 0.4s ease;
}

.row1{
    margin-bottom: 10rem;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.row1 .img-box, .row2 .text-box{
    float:left;
    width: 50%; 
}

.row1 .text-box, .row2 .img-box{
    float: right;
    width: 50%; 
}

.row .img-box{
  
    height: 100%;
}

.row .text-box{

    height: 100%;
    padding: 3rem;
}

.row .img-box img{
    width: 100%;
    display: inline-block;
    height: 100%;
    object-fit: cover; 
} 

/* features section */
.features{
    padding: 10rem 0;
}

.box{
    width: 33.3333%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box-wrapper{
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.37);
}

.box-1, .box-3{
    background-color: #263238;
    color: white;
}

.box-2{
    /* background: linear-gradient(25deg,#d64c7f,#ee4758,50%); */
    background: rgb(248, 147, 147);;
    color: white ;
}

.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

/* -----------footer */
.footer{
    background-color: #263238;
    color: white;
    padding: 1rem;
    text-align: center;
}

.social-links i{
    margin: 2rem;
}

i:hover{
    color:  rgb(246, 215, 215);;
}

/* about page */
.about{
    padding:5rem 0;
}
.about-heading::after{
    content: '';
    width: 100%;
    border-bottom: 3px solid #e63946;
    display: block;
}
.about-us{
    text-align: center;
    margin-top: 2rem;
}

.about-us .left {
    float: left;
    width: 50%;
}

.about-us .right {
    float: right;
    width: 50%;
}
.about-us::after{
    content: '';
    display: block;
    clear: both;
}
.about-us li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

.counts {
    display: flex;
    justify-content: space-around;
    padding-top:3rem ;
}
.item {
    text-align: center;
}
.item span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

.item p{
    font-weight: 700;
    color: #555;
}

.banner{
    display: flex;
    margin-top: 3rem;
    width: 100%;
    height: auto;
    background:linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000032;
}

.banner p{
    width: 60%;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.banner a{
    width: 40%;

}

.btn-banner{
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 0.2em 2em;
    border: 3px solid white;
    color: #f4f4f4;
}

/* contact page */
.heading{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: bold;
}
.heading span{
    color: #e63946;
}
.para{
    text-align: center;
    font-size:1.2rem;
}

.inner{
    display: flex;
    width: 900px;
    margin-left: 30rem;
    /* margin-right: 15rem; */
    height: 500px;
    justify-content: space-around; 

}
.inner form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.675);
    height: 450px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.315);
    margin-top: 3rem;
}

form input{
    margin-bottom: 2rem;
    height: 3.7rem;
    font-size: 1.2rem;
    padding-left: 1.7rem;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 0.9px solid rgba(25, 2, 2, 0.026);
    font-family:  Arial;
    letter-spacing: 0.2;
}
form textarea{
    font-size: 1.2rem;
    padding-left: 1.7rem;
    padding-top: 1rem;
    border-radius: 10px;
    border: 0.9px solid rgba(25, 2, 2, 0.026);
    background-color: #f8f8f8;
    font-family:  Arial;
    letter-spacing: 0.2;
}

.submit-btn{
    margin-top: 1.4rem;
    color:white;
    background-color: #ee4758;
    border: none;
    padding: 0.8rem;
    border-radius: 0.7rem;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
}
form p{
    font-size: 1rem;
    letter-spacing: 0;
    padding: 0.7rem;
   text-align: center;
}

.img-contact{
    width:300px;
    height:350px;
    max-width: max-content;
}

.touch{
    margin-left: 5rem;
    font-weight: 500;
    font-size: large;
}

.touch li i{
    padding: 0.8rem;
    font-size: larger;
}